.container{
        background-color: aqua;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
}
.header {
    display: flex;
    align-items: center;
    }
    .timer, .errors, .accuracy,
    .cpm, .wpm {
    background-color: #ccda46;
    height: 60px;
    width: 70px;
    margin: 8px;
    padding: 12px;
    border-radius: 20%;
    box-shadow: black 5px 8px 5px;
    }
    .cpm{
        background-color: aquamarine;
        height: 60px;
        margin: 8px;
    }